.atk-section
	.atk-swatch-green-vizi.atk-padding-small|{type}:: {address}
	.atk-section.mapeditor-info-section
		.atk-swatch-light-gray-vizi.atk-padding-small
			p|Model: <u>{model}</u>
			P|Responding: 
				span.atk-effect-success|Yes 
				|/&nbsp;
				span.atk-effect-danger|No
			.atk-row
				.atk-col-6
					P|Working Status:
				.atk-col-6
					.onoffswitch
						input(type="checkbox" checkbox="" id="onoffswitch1" class="onoffswitch-checkbox" name="onoffswitch")
						label(for="onoffswitch1" class="onoffswitch-label")
							.onoffswitch-inner
							span.onoffswitch-switch
			.atk-row
				.atk-col-4
					P|Brightness level:
				.atk-col-6
					.mapeditor-device-info-brightness(brightness_level="{brightness_level}")
			P(surge_protector_condition="{surge_protector_condition}")|Surge Protector Condition 
				span.atk-effect-danger| OFF 
				|/&nbsp;
				span.atk-effect-success| On 
				|/&nbsp;
				span.atk-effect-success| No monitoring

		.atk-swatch-gray-vizi.atk-padding-small.text-capitalize|Metering Data
		.atk-swatch-light-gray-vizi.atk-padding-small
			P|Power: {power}
			P|Voltage: {voltage}
			p|Current: {current}
			P|Consumption: {consumption}
			p|PF: {pf}
			P|T LED: {t_led}
			P|T LC: {t_lc}
			P|CLO: <u>{clo}</u>
			P|Actual working time: {actual_working_time} 
				span.mapeditor-device-info-working-time
		
		.atk-swatch-gray-vizi.atk-padding-small.text-capitalize|Information
		.atk-swatch-light-gray-vizi.atk-padding-small
			p|Location GPS: {latitude}, {longitude}
			P|Group: {group}
			P|LC Model: {lc_model}
			P|LC Firmware: {lc_firmware}
			P|Terminal address: {terminal_address}
			P|Global address: {global_address}