
<div id="{$_name}" class="atk-table atk-table-zebra atk-table-bordered {$class}">
  <table>
    <thead>
      <tr>
        <th>S. No.</th>
        <th>Code</th>
        <th>Invitation Link</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>{rows}{row}
      <tr data-id="{$id}" class=" {$blocked} ">
        <td>{$id}</td>
        <td class="atk-text-nowrap">{$name}</td>
        <td class="atk-jackscrew atk-text-dimmed">{$invitation_url}</td>
        <td class="atk-align-center block-invitation"><a>Block</a></td>
      </tr>{/}{/}
    </tbody>
  </table>
</div>