
<div id="{$_name}" style="{$style}" class=" {$class} ">
  <div class="box box-primary">
    <div class="box-header"><i class="{title_icon}ion ion-clipboard{/}"></i>
      <h3 class="box-title">{title}To Do List{/}</h3>
      <div class="box-tools pull-right">{paginator}
        <ul class="pagination pagination-sm inline">
          <li><a href="#">«</a></li>
          <li><a href="#">1</a></li>
        </ul>{/paginator}
      </div>
    </div>
    <!-- /.box-header-->
    <div class="box-body">
      <ul class="todo-list">{rows}{row}
        <li data-id="{$id}">
          <!-- drag handle--><span class="handle"><i class="fa fa-ellipsis-v"></i><i class="fa fa-ellipsis-v"></i></span>
          <!-- checkbox-->
          <input type="checkbox" value="" name=""/>
          <!-- todo text--><span class="text">{$name}</span>
          <!-- Emphasis label--><small class="label label-danger"><i class="fa fa-clock-o"></i> 2 mins</small>
          <!-- General tools such as edit or delete-->
          <div class="tools"><i class="fa fa-edit todo-edit"></i><i class="fa fa-trash-o todo-delete"></i></div>
        </li>{/row}{/rows}
      </ul>
    </div>
    <!-- /.box-body-->
    <div class="box-footer clearfix no-border">
      <button class="btn btn-default pull-right"><i class="fa fa-plus"></i> Add item</button>
    </div>
  </div>
</div>